<div class="container">
  <h1>Welcome to Flashcards!</h1>

  <form action="/login" method="POST">
    Username: <input type="name" name="name">
    Password: <input type="password" name="password">
    <input type="submit" name="submit">
  </form>  


  <a href="/signup">signup</a>
  <a href="/logout">logout</a>
</div>
