<h1>Question</h1>



<h5>Pick an answer</h5>
<form>
<input type="radio" name="answer1" value="Answer1">Answer 1<br>
<input type="radio" name="answer2" value="Answer2">Answer 2<br>
<input type="radio" name="answer3" value="Answer3">Answer 3
</form>


<a href="/game/question/id">Submit</a><br>
<a href="/results">End Game</a>
